html, body {
      overflow: scroll;
      display: flex;
      justify-content: center;
}
#masterDiv {
      position: absolute;
      height: 100%;
      width: 75%;
}
#calculatorButtons {
      height: 100%;
}
.button {
      border: 1px;
      border-color: black;
      border-style: double;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: larger;
}
#calculatorHeader, #row1, #row2, #row3, #row4 {
      height: 20%;
}



