html, body {
      overflow: hidden;
}
#masterDiv {
      position: absolute;
      height: 100%;
}
#calculatorHeader {
      height: 25%;
}
#calculatorButtons {
      height: 100%;
}
.button {
      display: flex;
      justify-content: center;
      align-items: center;
}
#row1, #row2, #row3 {
      height: 25%;
}



