html, body {
      overflow: hidden;
}
#masterDiv {
      position: absolute;
      height: 100%;
}
#calculatorHeader {
      height: 25%;
}
#calculatorButtons {
      height: 100%;
}
.button {
      border: 1px;
      border-color: black;
      border-style: double;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: larger;
}
#row1, #row2, #row3 {
      height: 25%;
}



